nav{
    ul{
        padding: 1rem;
        list-style: none;
        display: flex;
        justify-content: space-between;

        li i {
            font-size: 1.7em;
        }
    }
    a{
        text-decoration: none;
        color: $white;
        font-weight: 600;

        img.icon{
            width: 3em;
            height: 3em;
            border-radius: 50%;
            margin-right: 0.5rem;
            background-color: red;

        }
    }
}