section,
.player {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 10rem;

  .title {
    width: 100%;
    text-align: center;
    padding: 0 0 5rem 0;
    font-size: 4em;
    font-weight: 100;
  }

  figure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    h2,
    p {
      width: 100%;
      text-align: center;
      padding: 2rem 0 5rem 0;
      font-size: 1.4em;
    }

    #currentImg {
      width: 23rem;
      height: 23rem;

    }

    h2,
    #currentName {
      width: 100%;
      text-align: center;
      padding: 1rem 0 0.5rem 0;
      font-size: 2em;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50rem;
  }

  table th,
  td {
    padding: 1rem;
    border-bottom: 1px solid $purple;
    text-align: left;

  }


  img {
    width: 3rem;
  }
}