@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import './variaveis.scss';
@import './global.scss'; 
@import './body.scss';
@import './nav.scss';
@import './player.scss';
@import './admin.scss';
@import './modal.scss';