<form action="/create" method="post">
    <label for="name">Nome:</label>
    <input type="text" name="name" id="name" />

    <label for="artist">Artista:</label>
    <input type="text" name="artist" id="artist" />

    <label for="linkImage">Link da image</label>
    <input type="text" name="linkImage" id="linkImage" />
    
    <label for="linkMusic">Link da musica</label>
    <input type="text" name="linkMusic" id="linkMusic" />

    <button type="submit">Cadastrar</button>
  </form>