<section class="add">
  <h1>Cadastre uma nova musica</h1>
  
  <form action="/create" method="post">
      <label for="name">Nome:</label>
      <input type="text" name="name" id="name" required />
  
      <label for="artist">Artista:</label>
      <input type="text" name="artist" id="artist" required />
  
      <label for="linkImage">Link da image</label>
      <input type="text" name="linkImage" id="linkImage" required />
  
      <label for="linkMusic">Link da musica</label>
      <input type="text" name="linkMusic" id="linkMusic" required />
  
      <button type="submit">Cadastrar</button>
    </form>
</section>