<nav>
      <ul>
        <li>
          <a href="/"><img class="icon" src="https://toppng.com/public/uploads/preview/load-68-more-imagesgrid-view-me-dio-1156305775348vt1ta1gf.png" alt=""></a>
        </li>
        <li>
          <a href="/admin"><i class="bi bi-gear"></i></a>
        </li>
      </ul>
    </nav>