<section class="player">
    <h1>Playlist Jackson</h1>
    <figure>
      <img id="currentImg" src="/img/musicoff.jpg" alt="imagem do player" />
      <h2 id="currentName">Titulo</h2>
      <p id="currentArtist">Artista</p>
    </figure>
    <section>
      <table>
        <thead>
          <th></th>
          <th></th>
          <th>Nome</th>
          <th>Artista</th>
          <th></th>
        </thead>

        <tbody>
          <% playlist.forEach((music)=> { %>
          <tr class="musics">
            <td>
              <img src="<%= music.linkImage %>" alt="Imagem da musica" />
            </td>
            <td><%= music.name %></td>
            <td><%= music.artist %></td>
            <td>
              <audio
                controls
                class="audio"
                src="<%= music.linkMusic %>"
              ></audio>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </section>
  </section>