<!DOCTYPE html>
<html lang="pt-br">
  <%- include ('partials/head') %>
  <body>
   <%- include ('partials/navAdmin')  %> 
    
    <%- include('partials/form') %>

    <%- include ('partials/playerAdmin') %>
   
  </body>
</html>
