<!DOCTYPE html>
<html lang="pt-br">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/nav') %>
    <%- include('partials/player') %>
    <%- include('partials/controls') %>
  </body>
</html>
